<h1 id="ganeti-cluster-tools-ganeti-htools"
>Ganeti Cluster tools (ganeti-htools)</h1
><p
>These are some simple cluster tools for fixing common allocation problems on Ganeti 2.0 clusters.</p
><p
>Note that these tools are most useful for bigger cluster sizes (e.g. more than five or ten machines); at lower sizes, the computations they do can also be done manually.</p
><p
>Most of the tools revolve around the concept of keeping the cluster N+1 compliant: this means that in case of failure of any node, the instances affected can be failed over (via <code
  >gnt-node failover</code
  > or <code
  >gnt-instance failover</code
  >) to their secondary node, and there is enough memory reserved for this operation without needing to shutdown other instances or rebalance the cluster.</p
><p
><strong
  >Quick start</strong
  > (see the installation section for more details):</p
><ul
><li
  >(have the ghc compiler and the prerequisite libraries installed)</li
  ><li
  ><code
    >make</code
    ></li
  ><li
  ><code
    >./hbal -m $cluster -C -p</code
    ></li
  ><li
  >look at the original and final cluster layout, and if acceptable, execute the given commands</li
  ></ul
><h2 id="available-tools"
>Available tools</h2
><h3 id="cluster-rebalancer"
>Cluster rebalancer</h3
><p
>The rebalancer uses a simple algorithm to try to get the nodes of the cluster as equal as possible in their resource usage. It tries to repeatedly move each instance one step, so that the cluster score becomes better. We stop when no further move can improve the score.</p
><p
>For algorithm details and usage, see the man page <code
  >hbal(1)</code
  >.</p
><h3 id="iallocator-plugin"
>IAllocator plugin</h3
><p
>The <code
  >hail</code
  > iallocator plugin can be used for allocations of mirrored and non-mirrored instances and for relocations of mirrored instances. It needs to be installed in Ganeti's iallocator search path—usually <code
  >/usr/lib/ganeti/iallocators</code
  > or <code
  >/usr/local/lib/ganeti/iallocators</code
  >, and after that it can be used via ganeti's <code
  >--iallocator</code
  > option (in various gnt-node/gnt-instance commands). See the man page <code
  >hail(1)</code
  > for more details.</p
><h3 id="cluster-capacity-estimator"
>Cluster capacity estimator</h3
><p
>The <code
  >hspace</code
  > program will, given an input instance specification, estimate how many instances of those type can be place on the cluster before it will become full (as in any new allocation would fail N+1 checks). For more details, see the man page hspace(1).</p
><h2 id="integration-with-ganeti"
>Integration with Ganeti</h2
><p
>The <code
  >hbal</code
  > and <code
  >hspace</code
  > programs can either get their input from text files, locally from the master daemon (when run on the master node of a cluster), or remote from a cluster via RAPI. The &quot;-L&quot; argument enables local collection (with an optional path to the unix socket). For online collection via RAPI, the &quot;-m&quot; argument should specify the cluster or master node name. Only <code
  >hbal</code
  > and <code
  >hspace</code
  > use these arguments, <code
  >hail</code
  > uses the standard iallocator API and thus doesn't need any special setup (just needs to be installed in the right directory).</p
><p
>For generating the text files, a separate tool (<code
  >hscan</code
  >) is provided to automate their gathering if RAPI is available, which is better since it can extract more precise information. In case RAPI is not usable for whatever reason, <code
  >gnt-node list</code
  > and <code
  >gnt-instance list</code
  > could be used, and their output concatenated in a single file, separated by one blank line. If you need to do this manually, you'll need to check the sources to see which fields are needed exactly.</p
><p
>The <code
  >hail</code
  > program gets its data automatically from Ganeti when used as described in its section.</p
><h2 id="installation"
>Installation</h2
><p
>If installing from source, you need a working ghc compiler (6.8 at least) and some extra Haskell libraries which usually need to be installed manually:</p
><ul
><li
  ><a href="http://hackage.haskell.org/package/json"
    >json</a
    ></li
  ><li
  ><a href="http://hackage.haskell.org/package/curl"
    >curl</a
    ></li
  ><li
  ><a href="http://hackage.haskell.org/package/network"
    >network</a
    ></li
  ><li
  ><a href="http://hackage.haskell.org/package/parallel"
    >parallel</a
    >, version 1.x</li
  ></ul
><p
>Once these are installed, just typing <em
  >make</em
  > in the top-level directory should be enough. If you edit the documentation sources, you will need the <code
  >pandoc</code
  > program to rebuilt it.</p
><p
>Only the <code
  >hail</code
  > program needs to be installed in a specific place, the other tools are not location-dependent.</p
><p
>For running the (admittedly small) unittest suite (via <em
  >make check</em
  >), the QuickCheck version 1 library is needed.</p
><p
>Internal (implementation) documentation is available in the <code
  >apidoc</code
  > directory.</p
>